<footer role="contentinfo" class="footer">
  <p><small>All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</small></p>
  <p><small>Theme based on <a href="http://ghostium.oswaldoacauan.com/" target="_blank">Ghostium</a> by <a href="http://twitter.com/oswaldoacauan" target="_blank">@oswaldoacauan</a></small></p>
  <p><small>Proudly published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
</footer>
